<ion-side-menus>
  
  <ion-side-menu-content ng-controller="StoremenuCtrl">
    <ion-nav-bar class="bar bar-positive">
      <ion-nav-back-button class="">
      </ion-nav-back-button>
    
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" ng-click="showMenu()">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">

    
         <!--&nbsp; &nbsp; &nbsp;
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="showRightMenu()">
        </button>-->
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right" name="storemenu"></ion-nav-view>

  </ion-side-menu-content> 
  
  <ion-side-menu side="left">

    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title" menu-close>Menu</h1>
    </ion-header-bar>

    <ion-content has-header="true">
      <div class="list">
        <div>
          <a class="item  item-icon-left" menu-close nav-clear ui-sref="sidemenu.tab.home"><i class="icon ion-ios-home-outline"></i> Home </a>
        </div>

        <div>
          <a class="item item-icon-left" menu-close nav-clear ui-sref="sidemenu.secure.mystore">
            <i class="icon ion-bag"></i> Back to Store
          </a>
        </div>

        <div>
          <a class="item  item-icon-left" menu-close nav-clear ui-sref="sidemenu.tab.home"><i class="icon ion-android-settings"></i> Settings </a>
        </div>

      </div>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">More</h1>
    </ion-header-bar>
    <ion-content class="menu-dark">
      <div class="list">      



      </div>
    </ion-content>
  </ion-side-menu>
  
</ion-side-menus>